doctype html
html
	head
		title First App for Animals
		include ./style.pug
	body
		h1 Good to see you!
		p Please sign in to get access to our app.
		div.container
			a(href="/auth/google").link
				button(type="button") Register
					
